# Application
APP__INPUT_CSV="./data/intakeq_migration_data.csv"
APP__ENV="local"

# Logging
LOG__LEVEL=INFO
LOG__DIR=./logs

# IntakeQ
INTAKEQ__CSV_DELIMITER=";"

INTAKEQ__API_KEY=
INTAKEQ__BASE_URL=
INTAKEQ__EXPORT_PROFILE_ID=

# S3
S3__BUCKET=bucket-name
S3__KEY_PREFIX=migrations/intakeq
S3__SIGNED_URL_EXPIRATION=604800

# AWS
AWS__REGION=us-east-1

